//
//  Config.xcconfig
//  ChatGPT
//
//  Created by Alex Ulanch on 9/3/23.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

API_TOKEN = eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI3ZTY4NzBjYmQ2ZTgwZjBhOWM4NmI4Y2Q3NWQzYzA4YiIsInN1YiI6IjY1MDRkMDliMTA5ZGVjMDBlYjE1NDBhMiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.7PaE8Cl4q6GzBEpuivL5-7DdtttLHTXJCuzsJUTxGdI
